/*Esto se mantiene*/
body {

    background-color: #4E4D4C;
}

.fondo {
    width: 100%;
    background-repeat: repeat-y;
}
#contenido{
    width: 100%;
    height: auto;
    background-color:#850909;
    background-image: url('../recursos/PantallaPrincipalV1.jpg');
}

.botonHeader{
    background-color: crimson;
    margin-top: 10px;
    color:black;
    border-color: black;
}
#descripcionTabla{
    background-color: crimson;
}
.itemImpar{
    background-color:black;
}
.itemPar{
    background-color:gray;
}
#logo {
    margin-top: 5px;
    margin-left: 0;
    height: 40px;

}
#tablaPosiciones{
    margin-inline: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    background-color: blueviolet;
}
.elementoHeader{
    margin-bottom: 10px;
}

#notificacion {
    height: 50px;
}
th{
    width: 5%;
    background-color: crimson;
}
td{
    width: 5%;
    margin-right: 30px;
}
.card{
    margin-inline: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    border-radius: 30px;
    background-color: crimson;
}
.card-img-top{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}